<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc:war exploded">
    <output-path>$PROJECT_DIR$/spring-mvc/target/spring-mvc</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:3.0-alpha-1" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-servlet-api:7.0.30" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.0-b01" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-mvc/target/spring-mvc/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc/web/Web" />
    </root>
  </artifact>
</component>